

.banner__ad {
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    background-color: #fc0 ;
    border: 3px solid #fc0;
}

.banner__wrap {
    text-align: center;
}

.ad-title__link {
    text-transform: uppercase;
    
}