.logo {
  padding-left: 20px;
}

.search-bar__label {
  display: none;
}

.search-nav__menu {
  padding:0;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.search-nav-menu__item-link {
  color:#5C7AC4 ;
  font-weight: bold;
}



.search__container {
  display: flex;
  flex-direction: column;
}

.search-bar__button {
  padding: 5px 20px 5px 15px;
  border-color: #fc0;
  border: none;
  cursor: pointer;
}

.search-bar-input {
  width: 250vh;
  height: 30px;
  border: 3px solid #fc0;
}

.search-bar-input:hover,
.search-bar-input:active {
  border: 3px solid #fc0;
}

.search-bar-input:focus {
  border: none;
}

.search__bar {
  display: flex;
  align-items: center;
  width: 159vh;
  height: 30px;
}

.search__item {
  display: flex;
  flex-direction: row;
}


.search__example {
  margin: 0;
}

.search__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 36.8px;
  border-radius: 0;
  background-color: #fc0;
  color: #000;
  padding: 8px 16px;
  font-size: 16px;
}

.search__button:hover,
.search__button:focus,
.search__button:active {
  outline: none;
  border: none;
}

.search__advice {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.search__example {
  font-weight: 400;
}